.title {
  text-align: center;
  font-size: x-large;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  padding: 10px;
  shape-margin: 0px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
