<div class="scanner-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Scanne den nächsten QR Code um die Frage zu lesen:</mat-card-title>
    </mat-card-header>
    <zxing-scanner #scanner (scanSuccess)="scanSuccessHandler($event)"
    (permissionResponse)="noPermission($event)"
    (camerasNotFound)="noCamerasFound($event)">
    </zxing-scanner>
    <div> {{errorMessage}} </div>
    <button mat-raised-button color="accent" (click)="goBack()">Zurück zur letzten Seite</button>
  </mat-card>
</div>
