<div class="scanner-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Scanne den nächsten QR Code um die Frage zu lesen:</mat-card-title>
    </mat-card-header>
    <zxing-scanner #scanner (scanSuccess)="scanSuccessHandler($event)"
    (permissionResponse)="noPermission($event)"
    (camerasNotFound)="noCamerasFound($event)">
    </zxing-scanner>
    <div> {{errorMessage}} </div>
    <button mat-raised-button color="accent" (click)="goBack()">
      <div class="container">
        <mat-icon aria-hidden="false" class="false-icon">arrow_back</mat-icon>
        <div>Zurück zur letzten Seite</div>
      </div>
    </button>
  </mat-card>
</div>
