<div *ngIf="questionFound">
  <mat-card class="question-card">
    <img
      *ngIf="question.imagePath"
      mat-card-image
      [src]="'assets/' + question.imagePath"
      alt="Bild zur Frage"
    />
    <mat-card-content class="question-content">
      <p class="question-message">
        {{ question.message }}
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <div *ngIf="isNumberQuestion(question)" class="input">
        <mat-form-field appearance="standard">
          <input
            matInput
            placeholder="Antwort"
            type="number"
            [(ngModel)]="numberSelection"
          />
        </mat-form-field>
      </div>
      <div *ngIf="isNameQuestion(question)" class="input flex-container">
        <div
          *ngFor="let item of nameSelections; index as i"
          class="container-name"
        >
        <div>{{item.nr}}</div>
          <mat-form-field appearance="standard" class="mat-form-field">
            <div>
              <input
                matInput
                placeholder="Antwort"
                [(ngModel)]="item.value"
              />
            </div>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isMultipleChoiceQuestion(question)" class="input">
        <mat-radio-group
          aria-labelledby="multipleChoice-radio-group"
          class="multipleChoice-radio-group"
          [(ngModel)]="multipleChoiceSelection"
        >
          <mat-radio-button
            class="multipleChoice-radio-button"
            *ngFor="let answer of question.answers"
            [value]="answer"
          >
            {{ answer.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="checkAnswer()"
        class="input"
      >
        Bestätigen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="!questionFound">
  <p>Keine passende Frage unter dieser Seite...</p>
</div>
